# Dependencies
node_modules
.next
out
build
dist

# Logs
*.log

# Environment variables
.env
.env.local
.env*.local

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# Cache
.cache
.parcel-cache

# Misc
.DS_Store
*.pem

# Testing
coverage

# Production
.vercel

